<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>Theme en Drupal 8</title>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/ymbra.css" id="theme">
		<link rel="stylesheet" href="css/font-awesome.min.css">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">
		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>Theme en Drupal 8</h1>
					<h3>Pako Garcia</h3>
					<p>
						<small><a href="http://ymbra.com">Vegan Themer at <img src="images/logo-ymbra.png" class="logo-ymbra"></a><br> <i class="fa fa-twitter"></i><a href="http://twitter.com/pakmanlh">@pakmanlh</a> in the internets</small>
					</p>
					<p>#DdayBilbao2014</p>
				</section>

				<section>
					<section>
						<h2>¿De dónde venimos?</h2>
						<h3>¿Cómo era la web en 2011?</h3>
				      <ul>
				        <li>jQuery</li>
				        <li>78% web in XHTML</li>
				        <li>PHP 5.4.0 RC4 Released</li>
				        <li>Wordpress</li>
				        <li>Google AdSense</li>
				      </ul>
				      <p><a href="http://w3techs.com/blog/entry/top_10_rising_web_technologies_in_2011">fuente</a></p>
					</section>
					<section>
						<h2>¿Cómo cambió Drupal?</h2>
						<h3>Drupal 7 fue lanzado el 5 de enero del 2011</h3>
						<ul>
						  <li>Mejora sustancial en la UI de administración (Seven)</li>
						  <li>Contenido flexible y campos configurables</li>
						  <li>Mejora visual y capa de theming con <stron> Render API</stron></li>
						  <li>Accesibilidad mejorada en gran medida</li>
						  <li>Soporte de imágenes incluido</li>
						  <li>Automated code testing</li>
						  <li>Mejora de soporte de base de datos</li>
						  <li>Mejora de soporte a distribuciones</li>
						  <li>Soporte para Semantic Web a través de RDFa markup</li>
						</ul>
					  <p><a href="http://www.knaddison.com/drupal/contributors-drupal-7-final-numbers">10,091 mentions</a></p>
					</section>
					<section>
						<h2>¿Hacia dónde vamos?</h2>
						<h3>La web hoy día:</strong></h3>
						<ul>
			        <li>HTML5</li>
			        <li>SASS</li>
			        <li>Mobile first</li>
			        <li>OOP (Symfony)</li>
			        <li>JavaScript (AngularJS, Backbone, CasperJS, etc)</li>
			      </ul>
					</section>
					<section>
						<h2>¿Cómo será Drupal 8?</h2>
						<h3>Drupal 8 released in ... <strong> ¿ September 2015 ?</strong></h3>
						<ul>
		          <li>WYSIWYG</li>
		          <li>In-Place Editing</li>
		          <li>Responsive Toolbar</li>
		          <li>Responsive Front-End Theme</li>
		          <li>Responsive Admin Theme</li>
		          <li>Responsive Images</li>
		          <li>Responsive Tables</li>
		          <li>Simplified Overlay</li>
		        </ul>
					</section>

					<section>
						<h2>¿Cómo será Drupal 8?</h2>
						<h3>Y además...</h3>
						<ul>
							<li>Multilingual</li>
							<li>Better Blocks</li>
							<li>Configuration Management</li>
							<li>Web Services</li>
		          <li>Symfony 2</li>
		          <li>Twig</li>
		          <li>Views</li>
		        </ul>
					</section>

					<section>
						<h2>¿Cómo será Drupal 8?</h2>
						<h3>Y SOBRETODO</h3>
						<ul>
							<li class="fragment">No soportará IE6</li>
							<li class="fragment">No soportará IE7</li>
							<li class="fragment">No soportará IE8</li>
		        </ul>
					</section>

					<section data-background="images/applause.gif" data-background-transition="slide">
					<!-- <h2>HURRA!</h2> -->
					</section>

				</section>

				<section>
					<section>
						<h1>Problemas a resolver</h1>
					</section>

					  <section>
					    <h1>Divitis</h1>
					    <h3>Marcado enriquecido <sup>tm</sup></h3>
					    <pre><code data-trim contenteditable>
					<div class="foo bar baz whatever">
					  <div class="foo bar baz whatever">
					    <div class="foo bar baz whatever">

					      <h1 class="pane-title">hello im drupal</h1>

					      <div class="node node-type node-viewmode-argh">
					        always add another div
					      </div>

					    </div>
					  </div>
					</div>
					    </code></pre>
					  </section>

					  <section>
					    <h1>sobrecarga css</h1>
					  </section>

					  <section id="csslove">
					    <small>27 archivos css en drupal 7 stark</small>
					    <pre><code data-trim contenteditable class="max">
<style media="all">
  @import url("sites/modules/system/system.base.css?mz4mz0");
  @import url("sites/modules/system/system.menus.css?mz4mz0");
  @import url("sites/modules/system/system.messages.css?mz4mz0");
  @import url("sites/modules/system/system.theme.css?mz4mz0");</style>
<style media="all">
  @import url("sites/modules/contextual/contextual.css?mz4mz0");
</style>
<style media="all">
  @import url("sites/modules/aggregator/aggregator.css?mz4mz0");
  @import url("sites/modules/book/book.css?mz4mz0");
  @import url("sites/modules/comment/comment.css?mz4mz0");
  @import url("sites/sites/all/modules/contrib/date/date_api/date.css?mz4mz0");
  @import url("sites/modules/field/theme/field.css?mz4mz0");
  @import url("sites/modules/node/node.css?mz4mz0");
  @import url("sites/sites/all/modules/contrib/picture/picture_wysiwyg.css?mz4mz0");
  @import url("sites/modules/poll/poll.css?mz4mz0");
  @import url("sites/modules/search/search.css?mz4mz0");
  @import url("sites/sites/all/modules/contrib/search_krumo/search_krumo.css?mz4mz0");
  @import url("sites/modules/user/user.css?mz4mz0");
  @import url("sites/sites/all/modules/contrib/video_filter/video_filter.css?mz4mz0");
  @import url("sites/modules/forum/forum.css?mz4mz0");
  @import url("sites/sites/all/modules/contrib/views/css/views.css?mz4mz0");
  @import url("sites/sites/all/modules/contrib/admin_menu/admin_menu.css?mz4mz0");
  @import url("sites/sites/all/modules/contrib/admin_menu/admin_menu.uid1.css?mz4mz0");
</style>
<style media="all">
  @import url("sites/sites/all/modules/contrib/ctools/css/ctools.css?mz4mz0");
  @import url("sites/sites/all/modules/contrib/panels/css/panels.css?mz4mz0");
  @import url("sites/sites/all/modules/contrib/panels/plugins/layouts/twocol_stacked/twocol_stacked.css?mz4mz0");
  @import url("sites/sites/all/themes/mothership/mothership/templates/panels//mothership-html5page/mothership-html5page.admin.css?mz4mz0");
</style>
<style media="all">
  @import url("sites/themes/stark/layout.css?mz4mz0");
</style>
					    </code></pre>

					  </section>

					  <section>
					    <h1>sobrecarga css</h1>
					    <h3>5 classes para cada uno de los campos</h3>

					    <pre><code>
					<div class="field field-something field-even_more another-field-cause-im-drupal">
					    wait im just a piece of data
					</div>

					    </code></pre>

					  </section>

					  <section>
					    <h2>Solución Frontend</h2>
					    <ul>
					      <li>Empezar desde nada</li>
					      <li>No solucionar TODOS los problemas</li>
					      <li>Proveer herramientas</li>
					      <li>Visibilidad</li>
					      <li>Consistencia</li>
					    </ul>
					  </section>

				    <section>
				      <h1>HTML5</h1>
				      <pre><code>
				        <header role="banner">
				          <nav>
				            <a href="/">home</a> | <a href="/info">info</a>
				          </nav>
				        </header>
				        <main>

				          </aside>
				          <div>
				            ...
				          </div>
				        </main>
				        <footer  role="">
				        </footer>

				      </code></pre>
				    </section>

				    <section>

				      <h2>
				        &lt;div id=&quot;mala-práctica&quot;&gt;...&lt;/div&gt;
				      </h2>
				      <p>75% menos de ID's *</p>
				    </section>

				    <section>
				      <h1>Drupal CSS </h1>

				      <h3>Drupal 7</h3>
				      <pre><code>
				        &lt;body class=&quot;html one-sidebar sidebar-first not-front logged-in
				        page-node page-node- page-node-4 node-type-fieldtest &quot;&gt;
				      </code></pre>
				      <h3>Drupal8</h3>
				      <pre><code>
				        &lt;body class=&quot;  how-about-we_figure_that-out &quot;&gt;
				      </code></pre>
				    </section>

				    <section>
				      <h1>Estructura CSS </h1>
				      <h2>Basado en SMACSS & BEM</h2>
				      <a href="https://drupal.org/node/1887918">CSS architecture (1887918)</a>
				      <pre><code>
				      .notification {
				          /* general styles for all notifications */
				        }
				        .notification--info {
				          /* blue color adjustments */
				        }
				      </code></pre>

				    </section>

				    <section>
				      <h1>Archivos css </h1>
				      <img src="images/cssfilename.jpg">
				    </section>

				    <section>
				      <h1>B.A.T. Namescheme</h1>
				      <ul>
				      	<li><a href="https://drupal.org/node/1887922">CSS file organization (nid: 1887922)</a></li>
				      	<li><a href="https://www.drupal.org/node/1536682">BAT Cleanup & CSS Files Removal</a></li>
				      </ul>


				    </section>

				    <section id="filestructure">
				      <h2>D8 Estructura de archivos</h2>
				      <img src="images/filestructure.png">
				      <br>
				      <small> Drupal 8 core</small>
				    </section>

				    <section>
				      <h1>/themes</h1>
				      <p>proveer visibilidad</p>
				      <p>themes ahora viven en "/themes"</p>
				      <p>o "sites/ *** /themes" </p>
				    </section>

				    <section>
				      <h2>D8 Estructura de archivos en módulos</h2>
				      <img src="images/filestructure-modules.png">
				        <p>modulename/templates/*.html.twig</p>
				    </section>

				    <section>
				      <h1 class="large"> <i class="fa fa-bolt"></i> DEBUG!</h1>
				    </section>

				    <section>
				      <h2>¿Dónde está la plantilla?</h2>
				      <img src="images/debug-pre.jpg">
				    </section>

				    <section>
				      <h1>    <i class="fa fa-bolt"></i> DEBUG!</h1>
				      <pre><code>
				        $settings['twig_debug'] = TRUE;
				      </code></pre>
				      <small> settings.php</small>
				    </section>

				    <section>
				      <h2>$settings['twig_debug'] = TRUE;</h2>
				      <img src="images/debug-post.jpg">
				    </section>

				    <section data-background="#000">
				      <h1 class="large">R I P</h1>
				      <h1>Theme functions</h1>
				      <h2>Render arrays FTW!</h2>

				    </section>

				    <section>
				      <h1>Compilación</h1>
				      <p>
				        Las plantillas twig son interpretables (Back y Front)
				      </p>
				    </section>

				    <section>
				      <h1>.scss -> .css</h1>
				      <p>(no para themers: es la misma </p>
				    </section>

				    <section>
				      <h1>SQL en la capa de theme ?</h1>
				    </section>

				    <section>
				      <h1>¿Quien quiere eso?</h1>
				      <h2 class="fragment">Malos desarrolladores</h2>
				      <h2 class="fragment">Themes son solamente marcado y css!</h2>
				    </section>

				    <section>
				      <h3>Branding & logo</h3>
				      <p>is now a block</p>
				      <img src="images/block-sitebranding.png">
				    </section>

				</section>

				<!-- D7 vs D8 -->
				<section id="twigbasic">
				  <section>
				    <h1>Twig Básico</h1>

				    <p>facilísimo</p>
				  </section>
				  <!-- php -->
				  <section>
				    <h2> Comentarios y variables </h2>
				    <pre><code>
				    /*
				    comment
				    */
				      &lt;?php print $foo ; ?&gt;
				    </code></pre>
				      <small>phptemplate</small>


				    <pre><code>
				      {# comment #}

				      {{ foo }}
				    </code></pre>
				    <small>twig</small>

				  </section>

				  <section>
				    <h2> Variables  </h2>
				    <pre><code contenteditable>
				   /*
				    so php template
				    Now where is that value again
				   */

				 &lt;?php print $foo['bar']['UND']->baz['what']->thefuck['seriously'] ?&gt;

				    </code></pre>
				    <small>phptemplate</small>

				    <pre><code contenteditable>
				      {# hello twig can you find valdo ? #}

				      {{ foo.bar.baz.done.with.this.shit }}

				      {{ foo['bar'] }}

				      {% functions %}
				    </code></pre>
				      <small>Twig</small>

				  </section>

				  <section>
				    <h1>Condicionales</h1>

				    <pre><code>
				    &lt;?php if($foo): ?&gt;
				      &lt;?php print $var; ?&gt;
				    &lt;?php endif; ?&gt;
				    </code></pre>
				    <small>phptemplate</small>

				    <pre><code>
				      {% if foo %}
				        {{ var }}
				      {% endif %}
				    </code></pre>
				    <small> twig</small>

				  </section>

				  <!-- for -->
				  <section>
				    <h2>Bucles</h2>
				    <pre><code contenteditable>
				      <h2>Team Awesome </h2>
				      <ul>
				        {% for user in users %}
				            <li>{{ user.username}}</li>
				        {% endfor %}
				      </ul>
				    </code></pre>
				      <small>twig</small>
				    <pre><code contenteditable>
				      <h2>Team Awesome </h2>
				      <ul>
				        <li>cottset</li>
				        <li>joel</li>
				        <li>jen</li>
				        <li>mark carver</li>
				        <li>mortendk</li>
				      </ul>
				    </code></pre>
				      <small>drupal8</small>

				  </section>

				  <section>
				    <h2>Acciones sobre bucles</h2>
				    <pre><code contenteditable>

				    {{ loop.length }}

				    {{ loop.first }}

				    {{ loop.last }}

				    {{ loop.index }}

				    {% if loop.first %}
				      ...
				    {% elseif loop.index == 2 %}
				      ...
				    {% elseif loop.last %}
				        ...
				    {% endif %}
				    </code></pre>
				  </section>

				  <!-- include -->
				  <section>
				    <h1>Set</h1>
				    <pre><code contenteditable>
				      {% set foo %}
				        count-{{ loop.index }}
				      {% endset %}

				      {{ foo }},
				    </code></pre>
				    <small>twig</small>

				    <pre><code contenteditable>
				      count-1,count-2, count-3,
				    </code></pre>
				    <small> output </small>
				  </section>

				  <!-- filter -->
				  <section>
				    <h1>Filtros </h1>
				    <pre><code contenteditable>
				     <p>
				    {% filter upper %}
				        uppercase for the win
				    {% endfilter %}
				    </p>
				    </code></pre>

				    <pre><code contenteditable>
				      <p>
				        UPPERCASE FOR THE WIN
				      </p>
				    </code></pre>
				  </section>


				  <section>
				    <h2>|filter </h2>
				    <pre><code>
				      {{ foo|dostufftofoo }}

				      {#  name = <a hred="foo">pako</a> #}
				      {{ name|striptags|title }}
				    </code></pre>
				    <small>twig</small>

				    <pre><code>
				      Pako
				    </code></pre>

				  </section>
				  <section>
				  	<h2>Más sobre filtros</h2>
				  	<p><a href="http://twig.sensiolabs.org/doc/filters/index.html">Documentación</a></p>
				  </section>

				</section>

				<!-- Drupal 8 theme -->
				<section id="drupal8theme">

				  <section>
				    <h1>Drupal8 Theme </h1>
				  </section>

				  <section>
				    <h2>theme structure</h2>
				      <img src="images/pagebuild.png">
				  </section>



				  <section>
				  	<h2>drupal7.info</h2>
				    <pre><code class="max" data-trim>
				      name = name
				      description = This is my epic D7 theme
				      screenshot = screenshot.png
				      engine = phptemplate
				      core = 7.x
				      php = 5.2

				      regions[header] = Header
				      regions[logo] = Logo
				      regions[menu] = Menu
				      regions[messages] = Messages
				      regions[content] = Content
				      regions[footer] = Footer

				      stylesheets[all][] = css/style.css
				      #FOAD fix
				      stylesheets[all][] = donteverloadmeagain.css
				    </code></pre>

				  </section>

				  <section>
				  	<h2>drupal8.info.yml</h2>
				    <pre><code data-trim>
				      name: drupal8themename
				      type: theme
				      description: This is my epic D8 theme
				      package: Core
				      core: 8.x

				      stylesheets:
				        all:
				          - css/layout.css
				        print:
				          - css/print.css
				        stylesheets-remove:
				          - system.theme.css
				          - user.icons.css
				          - stuffidontwant.css

				      regions:
				        header: Header
				        logo: Logo
				        menu: Menu
				        messages: Messages
				        content: Content
				        footer: Footer

				      # engine: phptemplate
				    </code></pre>

				  </section>

				  <section>
				    <h1> Si eres amante de phptemplate</h1>
				    <pre><code>


				      # engine: phptemplate


				    </code></pre>
				    <small>themename.info</small>
				  </code></pre>
				  </section>

				  <section>
				    <h1>Sobreescribir</h1>
				    <pre><code>
				      stylesheets[all][] = css/style.css
				      #FOAD fix
				      ;stylesheets[all][] = donteverloadmeagain.css
				      stylesheets[all][] = system.theme.css
				      stylesheets[all][] = user.icons.css
				      stylesheets[all][] = stuffidontwant.css
				    </code></pre>
				    <small>drupal 7</small>

				    <pre><code>
				        stylesheets-remove:
				          - system.theme.css
				          - user.icons.css
				          - stuffidontwant.css
				    </code></pre>
				    <small>drupal 8</small>

				  </section>
				  <!-- regions -->
				  <section>
				    <h1>Regiones en Page</h1>

				    <h3>Drupal 7</h3>
				    <pre><code data-trim contenteditable>
				&lt;?php if ($page['footer']): ?&gt;
				  <footer role="contentinfo">
				    &lt;?php print render($page[footer]);  ?&gt;
				  </footer>
				&lt;?php endid ?&gt;
				    </code></pre>
				    <small>&lt;?php print render($page[region]);  ?&gt;</small>

				    <h3>Drupal 8</h3>
				    <pre><code data-trim contenteditable>
				  {% if page.footer %}
				  <footer role="contentinfo">
				    {{ page.footer}}
				  </footer>
				{% endif %}
				    </code></pre>
				    <small>twig: {{ page.region }} </small>
				  </section>
				  <!-- regions -->

				  <section>
				    <h3>Blocks</h3>
				    <pre><code contenteditable>
				    &lt;div{{ attributes }}&gt;
				      {{ title_prefix }}
				      {% if label %}
				        &lt;h2{{ title_attributes }}&gt;{{ label }}&lt;/h2&gt;
				      {% endif %}
				      {{ title_suffix }}

				      &lt;div{{ content_attributes }}&gt;
				        {{ content }}
				      &lt;/div&gt;
				    &lt;/div&gt;
				        </code></pre>
				        <small>block.twig</small>

				        <pre><code data-trim contenteditable>
				    &lt;nav class=&quot;{{ attributes.class }}&quot; role=&quot;{{ attributes.role}}&quot;&gt;
				      {{ title_prefix }}
				      {% if label %}
				        &lt;h2{{ title_attributes }}&gt;{{ label }}&lt;/h2&gt;
				      {% endif %}
				      {{ title_suffix }}
				      {{ content }}
				    &lt;/nav&gt;
				    </code></pre>
				    <small>block--system-menu-block.html.twig</small>
				  </section>

				  <section>
				    <h1>block.html.twig</h1>
				    <p>theme hook suggestions</p>
				    <img src="images/blockhooksuggestion.jpg">
				  </section>


				  <section>
				    <h2>{{ whatever|replace }}</h2>
				    <pre><code data-trim contenteditable>
				      <div class="block blockmore blockmorecauseofdrupal">...</div>
				      {{ attributes.class |replace( {'block': '' }) }}
				      <div class=”block-whatever”>
				    </code></pre>
				    <small>block.html.</small>

				    <pre><code data-trim contenteditable>
				      &lt;nav class=&quot;{{ attributes.class }}&quot; role=&quot;{{ attributes.role}}&quot;&gt;
				        {{ title_prefix }}
				        {% if label %}
				          &lt;h2{{ title_attributes }}&gt;{{ label }}&lt;/h2&gt;
				        {% endif %}
				        {{ title_suffix }}

				        {{ content }}
				      &lt;/nav&gt;
				    </code></pre>
				    <small>block--system-menu-block.html.twig</small>

				    <pre><code data-trim contenteditable>
				      <nav class="l-foobar mainmenu" role="navigation">
				        ... content ...
				      </nav>

				    </code></pre>
				    <small>  Done </small>
				  </section>




				  <section id="attributes">
				    <h1>{{attributes}}</h1>

				    <pre><code contenteditable>
				    <article {{attributes}}> ... </article>
				    </code></pre>

				    <pre><code contenteditable>
				    <article class="{{attributes.class}}" {{attributes}}>
				      ...
				    </article>
				    </code> </pre>

				    <pre><code contenteditable>
				      <article
				      class="{{ attributes.class }}"
				      role="{{ attributes.role }}"
				      {{attributes}}

				      >
				      ....
				      </article>
				    </code> </pre>

				  </section>


				  <section>
				    <h2>add .foo</h2>
				    <pre><code contenteditable>

				      <article class="foo {{ attributes.class}}" {{attributes}}>
				        foo
				      </article>

				    </code></pre>
				    <small>.twig</small>

				    <pre><code contenteditable>
				      <article class="foo field-foo" role="something">
				        foo
				      </article>
				    </code></pre>
				    <small>drupal</small>

				  </section>


				  <section id="terms">
				    <h2>ejemplo con Términos</h2>
				    <img src="images/terms.png">
				  </section>

				  <section>
				    <h2>el Marcado deseado</h2>
				    <small>HTML</small>
				    <pre><code contenteditable>

				      &lt;div class="tags"&gt;
				        <span>3 tags:</span>

				        <a href="#" class="odd">foo</a>,
				        <a href="#" class="even resaltado">bar</a>,
				        <a href="#" class="odd">baz</a>.

				      &lt;/div&gt;
				    </code></pre>
				      <small>CSS</small>

				      <pre><code contenteditable>
				      .resaltado{
				        color: green;
				        font-style:italic;
				      }
				      </code></pre>
				  </section>

				  <section>
				    <h2>node</h2>
				    <pre><code contenteditable>
				        <article class="...">
				        ....
				        {{ content.field_tags}}

				        {{ content|without('field_tags') }}
				        </article>
				      </code></pre>
				      <small>node.html.twig</small>
				  </section>

				  <section id="test">
				    <h2>{{ <span class="pink">content</span>|without(<span class="orange">field-name</span>) }}</h2>
				    <br><br>
				    <h2>{{ fieldname }}</h2>
				  </section>


				  <section>
				    <pre><code contenteditable>
				    {# Start the loop #}
				    {% for delta, item in items %}

				      {# create a class var #}
				      {% set class %}
				        {# odd even #}
				        {{- cycle(["even", "odd"], delta) }}
				        {# count-x #}
				        count-{{ loop.index -}}"
				      {% endset %}

				      <a href="#" class="{{class}}">{{item}}</a>,

				    {# end the loop #}
				    {% endfor %}
				    </code></pre>
				    <small>field--field-tags.html.twig</small>

				    <pre><code contenteditable>
				       <a href="#" class="odd count-1">Iturraspe</a>,
				       <a href="#" class="even count-2">Goikoetxea</a>,
				       <a href="#" class="odd count-3">Aldaiturriaga</a>,
				    </code></pre>
				    <small>drupal8</small>
				  </section>

				  <section>
				    <h2>tags vs tag</h2>
				    <pre><code contenteditable>
				      {# first loop #}
				      {% if loop.first %}
				        {# set tags / tag #}
				        <span>
				        {% if loop.length > 1 %}
				          {{ loop.length }}
				          tags:
				          {% else %}
				          tag:
				        {% endif %}
				        <span>
				      ...
				    </code></pre>
				    <small>field--field-tags.html.twig</small>

				    <pre><code contenteditable>
				      <span>3 tags:</span>
				    </code></pre>

				  </section>

				  <section>
				    <h2>add a class on 2 tag</h2>
				    <pre><code contenteditable>
				      {% if loop.first %}
				        ...
				      {% elseif loop.index == 2 %}
				      <a href="#" class="resaltado {{class}}">{{item}}</a>,

				      ...

				    {# end the loop #}
				    {% endfor %}
				    </code></pre>
				    <small>field--field-tags.html.twig</small>

				    <pre><code contenteditable>
				       <a href="#" class="odd count-1">Iturraspe</a>
				       <a href="#" class="resaltado even count-2">Goikoetxea</a>
				       <a href="#" class="odd count-3">Aldaiturriaga</a>
				    </code></pre>
				  </section>

				  <section>

				    <pre><code contenteditable>
				      {% if loop.first %}
				        <span>
				        {% if loop.length > 1 %}
				          {{ loop.length }}  tags:
				        {% else %}
				        tag:
				        {% endif %}
				        <span>

				        <a href="#" class="{{class}}">{{item}}</a>,
				      {% elseif loop.index == 2 %}
				        <a href="#" class="resaltado {{class}}">{{item}}</a>,
				      {% elseif loop.last %}
				        <a href="#" class="{{class}}">{{item}}</a>.
				      {% else %}
				        <a href="#" class="{{class}}">{{item}}</a>,
				      {% endif %}
				    </code></pre>
				    <small>field--field-tags.html.twig</small>

				    <pre><code contenteditable>
				        3 tags:
				       <a href="#" class="odd count-1">Iturraspe</a>,
				       <a href="#" class="resaltado even count-2">Goikoetxea</a>,
				       <a href="#" class="odd count-3">Aldaiturriaga</a>.
				    </code></pre>

				  </section>


				  <section id="twigblock">
				    <h1>TWIG BLOCK</h1>

				    <pre><code contenteditable>
				      {% block foobar %}
				        {# puedo ser otra cosa #}
				      {% endblock %}
				    </code></pre>
				  </section>

				  <section>
				    <img src="images/twigblock.png">
				  </section>

				  <section>
				    <img src="images/twigblock-debug.png">
				  </section>


				  <section>
				    <pre><code contenteditable>
				      {% block headerblock %}
				        Change me if Im on the frontpage
				      {% endblock %}
				    </code></pre>
				    <small>page.twig.html</small>

				    <pre><code contenteditable>
				      {% extends "themes/drupal8theme/templates/page.html.twig" %}
				      {% block headerblock %}
				        Im on the frontpage :)
				      {% endblock %}
				    </code></pre>
				    <small>page--front.html.twig</small>
				  </section>

				  <section>
				    <img src="images/twigblock-page.png">
				  </section>

				  <section>
				    <img src="images/twigblock-frontpage.png">
				  </section>


				</section>

				<!-- translate -->
				<section id="translate">
				  <section>
				    <h1>Traducción</h1>
				  </section>

				  <section>


				    <pre><code contenteditable>
				    {{ 'last checked: @time ago'| t({'@time':time}) }}
				    </code></pre>


				  </section>


				  <section>

				    <pre><code contenteditable>
				      {% trans %}
				        Hi im a euskaldun and i speak funny: ongi etorri
				      {% endtrans %}
				    </code></pre>

				  </section>


				</section>

				<!-- translate -->


				<section>
					<h1>Eskerrik asko!</h1>
					<h2>Preguntas?</h2>
					<p>
						<small><a href="http://ymbra.com">Vegan Themer at <img src="images/logo-ymbra.png" class="logo-ymbra"></a><br> <i class="fa fa-twitter"></i><a href="http://twitter.com/pakmanlh">@pakmanlh</a> in the internets</small>
					</p>
					<p>#DdayBilbao2014</p>
				</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
